@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #1A1A1A;
    color: #FBFBFB;
}
@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-left {
    animation: slide-left 1s ease-out forwards;
}
